---

import Layout from '../../layouts/Layout.astro';
---
<Layout>

    <div class="w-full">
        <img src="/src/assets/img/colisée.jpg" alt="Image du Festival" class="w-full h-auto object-cover">
    </div>


    <section class="container mx-auto p-8 space-y-8 text-center text-white">
        <h1 class="text-[36px] font-bold uppercase font-alegreya">Notre histoire et nos objectifs</h1>
        <p class="text-start text-[18px] leading-relaxed font-ad">
            Le festival Festiv'Halloween, bien qu'en étant à sa première édition, s'est déjà forgé une identité forte 
            autour de quatre valeurs essentielles qui guident son organisation et sa vision. 
            Ce festival aspire à devenir un rendez-vous incontournable dans le paysage culturel de Montbéliard et de la Franche-Comté.
        </p>


        <div class="space-y-8">
            <div>
                <h2 class="text-[24px] font-bold text-white font-alegreya">Le partage</h2>
                <p class="text-start text-[18px] leading-relaxed font-ad">
                    Festiv'halloween place le partage au cœur de son concept. Le festival offre une plateforme unique où réalisateurs amateurs et professionnels peuvent présenter leurs œuvres côte à côte. Cette approche inclusive permet aux créateurs de tous horizons de partager leur vision du genre horrifique. De plus, des séances de questions-réponses et des ateliers sont organisés pour favoriser les échanges entre les cinéastes et le public, créant ainsi une communauté soudée autour de la passion du cinéma d'horreur.

                </p>
            </div>

            <div>
                <h2 class="text-[24px] font-bold text-white font-alegreya">La culture</h2>
                <p class="text-start text-[18px] leading-relaxed font-ad">
                    En célébrant le genre de l'horreur sous toutes ses formes, Festiv'halloween contribue à l'enrichissement culturel de la région. Le festival propose non seulement des projections de films, mais aussi des expositions sur l'histoire du cinéma d'horreur, des conférences sur les techniques cinématographiques spécifiques au genre, et des hommages aux grands classiques. Cette approche multidimensionnelle vise à éduquer le public sur la richesse et la profondeur du cinéma d'horreur en tant que forme d'art à part entière.

                </p>
            </div>

            <div>
                <h2 class="text-[24px] font-bold text-white font-alegreya">La diversité</h2>
                <p class="text-start text-[18px] leading-relaxed font-ad">
                    La diversité est un pilier fondamental de Festiv'halloween. Le festival s'efforce de présenter une programmation variée qui reflète la multiplicité des voix et des perspectives dans le monde du cinéma d'horreur. Cela inclut des films de différents pays, cultures et sous-genres, allant du gore au thriller psychologique en passant par l'horreur folklorique. Le festival met également un point d'honneur à promouvoir les œuvres de réalisateurs issus de groupes sous-représentés, offrant ainsi une plateforme pour des histoires et des points de vue uniques.

                </p>
            </div>

            <div>
                <h2 class="text-[24px] font-bold text-white font-alegreya">Le divertissement</h2>
                <p class="text-start text-[18px] leading-relaxed font-ad">
                    Enfin, Festiv'halloween n'oublie pas sa mission première : divertir son public. Le festival propose une expérience immersive qui va au-delà des simples projections de films. Des animations thématiques, des concours de costumes, des zones de réalité virtuelle horrifique, et des séances de maquillage professionnel sont organisés pour plonger les visiteurs dans une atmosphère à la fois effrayante et ludique. Les projections nocturnes et les marathons de films cultes ajoutent une dimension festive à l'événement, faisant de Festiv'halloween une célébration joyeuse et frissonnante de la culture de l'horreur.

                </p>
            </div>
        </div>

        <p class="text-start text-[18px] leading-relaxed font-ad">
            En combinant ces quatre valeurs, Festiv'halloween s'efforce de créer un événement unique qui non seulement divertit, mais aussi enrichit, inspire et rassemble. Malgré sa jeunesse, le festival ambitionne de devenir un pilier culturel de la région, offrant chaque année une expérience mémorable aux amateurs de frissons et contribuant à l'épanouissement de la scène cinématographique locale et internationale.
        </p>
    </section>


</Layout>