---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Carrousel from '../components/carrousel.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<img src="/src/assets/img/imghome.jpg" alt="VHS" />

 <!-- Présentation du Festival -->
 <section class=" mx-auto bg-[#212121] p-6 mt-6 text-white text-center">
	<h1 class="text-[36px] font-bold uppercase font-alegreya">Présentation du Festival</h1>
	<p class="font-ad mt-2 text-[16px] text-[#ccc] leading-[1.5]">Le festival Festiv'Halloween, qui se déroulera à Montbéliard pendant la période d'Halloween, est une initiative novatrice dédiée aux films d'horreur et d'épouvante.</p>
	<p class="font-ad mt-2 text-[16px] text-[#ccc] leading-[1.5]">Avec une programmation variée projetée toute la nuit, cet événement vise à combler un vide en Franche-Comté, où les festivals de ce genre sont inexistants. Le public cible inclut principalement les jeunes, grands amateurs de sensations fortes, ainsi que les passionnés de thrillers et de films gore.</p>
	<p class="font-ad mt-2 text-[16px] text-[#ccc] leading-[1.5]">En choisissant Montbéliard, une ville dynamique avec une forte population étudiante et peu d'événements culturels majeurs, le festival aspire à attirer un large public tout en dynamisant l'attractivité locale.</p>
	<p class="font-ad mt-2 text-[16px] text-[#ccc] leading-[1.5]">Festiv'Halloween promet ainsi de devenir un rendez-vous incontournable pour les amateurs de cinéma d'horreur, tout en mettant en avant le cinéma Le Colisée et en offrant une plateforme aux créateurs du genre.</p>
	
	<div class="mt-4 text-right">
	  <a href="#details" class="font-Lilita inline-block font-[Lilita One] text-[22px] px-4 py-2 border-2 border-[#FF1717] text-[#FF1717] bg-[#212121] hover:bg-[#FF1717] hover:text-white transition">En savoir plus</a>
	</div>
  </section>

  <!-- Où et Quand -->
  <section class=" mx-auto bg-[#212121] p-6 mt-6 text-white text-center">
	<h2 class="text-[36px] font-bold uppercase font-alegreya">Où et Quand ?</h2>
	<p class="font-ad mt-2 text-[16px] text-[#ccc] leading-[1.5]">Retrouvez nous le soir d’Halloween (31/09/2024) au cinéma du Colisée au centre de Montbéliard pour découvrir la sélection de film choisi et qui seront diffusé durant toute la nuit.</p>
  </section>

<Carrousel/>


	<!-- Accès billetterie -->
	<section class=" mx-auto bg-[#282828] text-white text-center p-6">
		<div class="bouton2 flex justify-center my-4">
			<a href="#billeterie" class="font-Lilita inline-block font-[Lilita One] text-[22px] px-6 py-2 border-2 border-[#FF1717] text-[#FF1717] bg-[#212121] hover:bg-[#FF1717] hover:text-white transition">Accès à la billetterie</a>
		</div>
	</section>


	<!-- Partenaires -->
	<section class=" mx-auto bg-[#212121] text-white text-center p-6">
		<h2 class="text-[36px] font-alegreya text-white mb-4">Nos partenaires</h2>
		<div class="flex flex-wrap justify-center gap-4">
			<img src="/src/assets/img/pma.jpg" alt="Pays de Montbéliard Agglomération" class="w-[120px]">
			<img src="/src/assets/img/cnc.jpg" alt="CNC - Centre National du Cinéma et de l'Image Animée" class="w-[120px]">
			<img src="/src/assets/img/doubs.jpg" alt="Doubs - Le Département" class="w-[120px]">
		</div>
	</section>

	
	<!-- Separation -->
	<div class="w-full bg-[#282828] h-[2px] my-6"></div>

</Layout>
