---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card.astro';

---
<Layout>
    <!-- Section Programme -->
<section class=" mx-auto bg-[#282828] text-white p-6">
    <div class="program-item mb-6">
      <a href="/prog.html" class="block">
        <img src="/src/assets/img/projection.jpg" alt="Projection" class="w-full rounded-lg">
        <h2 class="font-alegreya text-[24px]  text-center mt-2">Projection</h2>
      </a>
      <p class="font-ad text-[16px] text-[#ccc] leading-[1.5] mt-2">
        La programmation du festival Festiv'Halloween propose une série variée de projections des films d'horreur. Les festivaliers peuvent plonger dans l'atmosphère avec la projection d'un court métrage d'introduction.
      </p>
    </div>
  
    <div class="program-item mb-6">
      <a href="/progfilms.html" target="_blank" class="block">
        <img src="/src/assets/img/progfilms.jpg" alt="Programmation Partie Films" class="w-full rounded-lg">
        <h2 class="font-alegreya text-[24px]  text-center mt-2">Programmation Partie Films</h2>
      </a>
      <p class="font-alegreya text-[16px] text-[#ccc] leading-[1.5] mt-2">
        Retrouvez et choisissez la liste des films projetés tout au long de la journée. Une diversité de genres pour satisfaire tous les amateurs du frisson !
      </p>
    </div>
  
    <div class="program-item mb-6">
      <img src="/src/assets/img/confdepresse.jpg" alt="Conférence de Presse" class="w-full rounded-lg">
      <h2 class="font-alegreya text-[24px] text-center mt-2">Conférence de Presse</h2>
      <p class="font-ad text-[16px] text-[#ccc] leading-[1.5] mt-2">
        Des projections suivies d'entretiens et discussions avec les réalisateurs et créateurs d'œuvres emblématiques.
      </p>
    </div>
  </section>
  
  <!-- Programme Quotidien -->
  <section class=" mx-auto text-white p-6">
    <p class="font-ad text-[16px] text-[#ccc] leading-[1.5]">
      Le festival Festiv'Halloween propose une journée riche en conférences et projections autour du cinéma d'horreur. Voici le programme détaillé :
    </p>
  </section>

<Card/>

<!-- Section Défilé -->
<section class=" mx-auto bg-[#212121] text-white p-6 space-y-6">
    <div class="defile-header text-center">
      <img src="/src/assets/img/défilé.jpg" alt="Défilé Halloween" class="w-full">
    </div>
    <div class="defile-description ">
      <p class="font-ad text-[16px] text-gray-300 leading-[1.6]">
        Le défilé de déguisement du festival Festiv'halloween est un moment phare de la soirée, où les participants
        peuvent exprimer leur créativité et leur passion pour l'univers de l'horreur. Le défilé débutera à 23h, avec une première parade des participants qui défileront sur une scène dédiée, accompagnés de musique d'ambiance effrayante.
        Chaque participant aura l'occasion de présenter son costume devant le public et un jury composé de professionnels du cinéma et de la mode.
      </p>
    </div>
    <div class="defile-rules">
      <h3 class="text-[34px] font-alegreya font-semibold text-white">Règles du défilé</h3>
      <ol class="font-ad list-decimal list-inside space-y-2 text-gray-300 text-[16px]">
        <li><strong class="font-alegreya">Inscription préalable :</strong> Tous les participants doivent s'inscrire à l'avance via notre site web pour garantir leur place dans le défilé.</li>
        <li><strong class="font-alegreya">Originalité :</strong> Les costumes doivent être originaux et inspirés par l'univers de l'horreur. Les participants sont encouragés à faire preuve de créativité et à éviter les costumes stéréotypés.</li>
        <li><strong class="font-alegreya">Sécurité :</strong> Les accessoires utilisés dans les costumes doivent être sécurisés et ne pas présenter de danger pour les autres participants ou le public. Les objets pointus ou dangereux sont strictement interdits.</li>
        <li><strong class="font-alegreya">Respect des horaires :</strong> Les participants doivent se présenter sur scène à l'heure indiquée pour assurer le bon déroulement du défilé.</li>
        <li><strong class="font-alegreya">Jugement :</strong> Le jury évaluera les costumes sur des critères tels que l'originalité, la créativité et l'exécution. Des prix seront remis aux meilleurs déguisements à la fin du défilé.</li>
      </ol>
      <p class="font-ad mt-4 text-[16px]">
        Ce défilé promet d'être un moment festif et mémorable, où chacun pourra célébrer Halloween dans une ambiance conviviale et effrayante !
      </p>
    </div>
  </section>
  

</Layout>