  <!-- Carrousel -->
  <section class=" mx-auto bg-[#212121] p-6 mt-6 text-white text-center">
    <div class="overflow-hidden relative">
      <div class="flex gap-4 overflow-x-scroll scroll-smooth snap-x">
        <div class="flex-none w-full snap-center">
          <img src="/src/assets/img/projection.jpg" alt="Projection" class="w-full rounded-lg">
        </div>
        <div class="flex-none w-full snap-center">
          <img src="/src/assets/img/confdepresse.jpg" alt="Conférence de Presse" class="w-full rounded-lg">
        </div>
        <div class="flex-none w-full snap-center">
          <img src="/src/assets/img/défilé.jpg" alt="Défilé" class="w-full rounded-lg">
        </div>
      </div>
    </div>
    <div class="mt-4 text-right">
      <a href="#details" class="font-Lilita inline-block font-[Lilita One] text-[22px] px-4 py-2 border-2 border-[#FF1717] text-[#FF1717] bg-[#212121] hover:bg-[#FF1717] hover:text-white transition">En savoir plus</a>
    </div>
  </section>
