  <!-- Carrousel -->
<section class=" mx-auto bg-[#212121] p-6 mt-6 text-white text-center">
    <div class="w-auto overflow-hidden relative mx-auto">
        <div class="flex gap-4 overflow-x-scroll scroll-smooth snap-x justify-center" id="carrousel">
            <div class="flex-none w-full snap-center">
                <img src="/src/assets/img/projection.jpg" alt="Projection" class="w-full rounded-lg">
            </div>
            <div class="flex-none w-full snap-center">
                <img src="/src/assets/img/projection.jpg" alt="Projection" class="w-full rounded-lg">
            </div>
            <div class="flex-none w-full snap-center">
                <img src="/src/assets/img/projection.jpg" alt="Projection" class="w-full rounded-lg">
            </div>
            <div class="flex-none w-full snap-center">
                <img src="/src/assets/img/confdepresse.jpg" alt="Conférence de Presse" class="w-full rounded-lg">
            </div>
            <div class="flex-none w-full snap-center">
                <img src="/src/assets/img/défilé.jpg" alt="Défilé" class="w-full rounded-lg">
            </div>
        </div>
        <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-black text-white p-2" onclick="document.getElementById('carrousel').scrollBy({left: -600, behavior: 'smooth'})">
            &lt;
        </button>
        <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-black text-white p-2" onclick="document.getElementById('carrousel').scrollBy({left: 600, behavior: 'smooth'})">
            &gt;
        </button>
    </div>
    <div class="mt-4 text-right">
