<!-- Footer -->
<footer class=" mx-auto bg-[#212121] text-white text-center">
    <div class="ftr bg-[#282828]">
    <h2 class="font-alegreya text-[36px] text-[#e60000] mb-[15px]">Qui sommes nous ?</h2>
    
    <div class="bg-[#282828] logo-footer flex justify-center mb-[10px]">
        <img src="/src/assets/logo/logo.svg" alt="Logo Festiv'Halloween" class="h-[50px] rounded-[45px]">
    </div>
</div>
    
    <div class=" social-icons flex justify-center gap-[20px] my-[15px]">
        <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="text-[24px] text-[#ff1717] transition-transform duration-300 hover:scale-110">
            <img src="/src/assets/logo/instagram.svg" alt="Logo instagram">
        </a>
        <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="text-[24px] text-[#ff1717] transition-transform duration-300 hover:scale-110">
            <img src="/src/assets/logo/facebook.svg" alt="Logo fb">
        </a>
        <a href="https://youtube.com" target="_blank" aria-label="YouTube" class="text-[24px] text-[#ff1717] transition-transform duration-300 hover:scale-110">
            <img src="/src/assets/logo/youtube.svg" alt="Logo ytb">
        </a>
        <a href="https://x.com" target="_blank" aria-label="X" class="text-[24px] text-[#ff1717] transition-transform duration-300 hover:scale-110">
            <img src="/src/assets/logo/x.svg" alt="Logo x">
        </a>
    </div>
    
    <div class="footer-links flex flex-wrap justify-center gap-[30px] border-t border-[#ff1717] pt-[20px]">
        <a href="/apropos.html" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">À Propos</a>
        <a href="/activite.html" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">Programmation</a>
        <a href="/contact.html" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">Contact</a>
        <a href="#billeterie" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">Billetterie</a>
        <a href="#legal" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">Mentions légales</a>
        <a href="#inscriptions" class="font-ad text-[16px] text-[#ffffff] transition-colors duration-300 hover:text-[#ff1717]">Inscription</a>
    </div>
  </footer>
